
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("styles/menu.css");
@import url("styles/carrosel.css");
@import url("styles/sobre.css");
@import url("styles/resultados.css");
@import url("styles/exames.css");
@import url("styles/convenios.css");
@import url("styles/coletas.css");
@import url("styles/informativos.css");
@import url("styles/localizacao.css");
@import url("styles/footer.css");
@import url("styles/ancora.css");

:root{
    --cor-principal: #018044;
    --cor-secundaria: #017D49;
    --cor-terciaria: #B2D3C2;
    --cor-quartenaria: #004443;
    --fonte-principal: "Asap", sans-serif;
    --fonte-secundaria: "Roboto", sans-serif;
}

html, body{
    font-size: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper{
    flex: 1;
}


