.back-to-top {
    position: fixed;
    bottom: 12%;
    right: 5%;
    display: none; /* Oculta o botão inicialmente */
    background-color: var(--cor-secundaria);
    color: white;
    padding: 10px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 14px;
    border: 1px solid white;
}

.back-to-top:hover {
    background-color: var(--cor-quartenaria);
}

@media only screen and (min-width: 768px){

}


@media only screen and (min-width: 1280px){

    .back-to-top {
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

    .back-to-top:hover {
        transform: scale(1.1);
    }

}