.carousel{
    width: 100vw;
}

@media only screen and (min-width: 768px){

    .titulo__carrosel{
        font-size: 2.0rem;
        font-family: var(--fonte-principal);
        text-shadow: 
        2px 2px 0px var(--cor-secundaria),
        -2px -2px 0px  var(--cor-secundaria),
        2px -2px 0px var(--cor-secundaria),
        -2px 2px 0px var(--cor-secundaria);
    }

}



@media only screen and (min-width: 1280px){
    
    .carousel-item{
        height: 80vh;
    }
}