.container__footer{
    background-color: var(--cor-principal);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    color:white;
    font-family: var(--fonte-principal);
}

.titulo__redes{
    font-size: 1.2rem;
}

.container__img-redes{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.img__redes{
    width: 32px;
    height: 32px;
}