.container__localizacao{
    padding-top: 2rem;
    padding-bottom: 2rem;;
}

.titulo__localizacao{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.2rem;
    border-bottom: 1px solid var( --cor-secundaria);
    border-bottom-width: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 2rem;
}

.localizacao__mapa{
    width: 90%;
    margin-left: 5%;
    margin-bottom: 2rem;
}

.endereco__localizacao{
    font-size: 1.0rem;
    font-family: var(--fonte-secundaria);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    border: 2px solid var(--cor-secundaria);
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
}

.container__img-certificacao{
    padding-top: 2rem;
    text-align: center;
}

@media only screen and (min-width: 768px){
    .titulo__localizacao{
        font-size: 1.4rem;
        margin-left: 35%;
        margin-right: 35%;
    }

    .localizacao__mapa{
        padding: 0 15%;
    }

    .endereco__localizacao{
        margin: 0 15%;
    }
    
}


@media only screen and (min-width: 1280px){

    .titulo__localizacao{
        font-size: 1.6rem;
        margin-left: 46%;
        margin-right: 46%;
    }

    .endereco__localizacao{
        font-size: 1.2rem;
        margin-left: 20%;
        margin-right: 20%;
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

    .endereco__localizacao:hover{
        border: 2px solid var(--cor-quartenaria);
        transform: scale(1.02);
    }

    .img__certificacao{
        transition: transform 0.3s ease, border-color 0.3s ease;
    }

    .img__certificacao:hover{
        transform: scale(1.02);
    }



    
}