.container__resultado{
    background-color: var(--cor-terciaria);
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2rem;
}

.img__resultado{
    width: 70%;
}

.titulo__resultado{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 1rem;
    border-bottom: 1px solid var(--cor-secundaria);
    border-bottom-width: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
}

.btn__container-resultado{
    padding-top: 1rem;
}

.btn__resultado{
    text-decoration: none;
    font-family: var(--fonte-principal);
    color: white;
    background-color: var(--cor-secundaria);
    font-weight: 500;
    letter-spacing: 0.05rem;
    border-radius: 1rem;
    padding: 0.5rem 1.0rem;
    border: 1px solid var(--cor-principal);
}

@media only screen and (min-width: 768px){

    .img__resultado{
        width: 40%;
    }

    .titulo__resultado{
        font-size: 1.4rem;
        margin-left: 35%;
        margin-right: 35%;
    }

    .btn__resultado{
        font-size: 1.2rem;
    }

}


@media only screen and (min-width: 1280px){
    body{
        width: 100vw;
    }

    .container__resultado{
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        justify-content: center;
        gap: 13%;
    }

    .img__resultado{
        width: 150%;
        height: auto;
        transition: transform 0.3s ease, border-color 0.3s ease;

    }

    .img__resultado:hover{
        transform: scale(1.02); 
    }


    .titulo__resultado{
        font-size: 1.6rem;
        margin-left: 0;
        margin-right: 0;
    }

    .btn__resultado{
        transition: transform 0.3s ease, border-color 0.3s ease;
        text-decoration: none;
    }

    .btn__resultado:hover{
        background-color: var(--cor-quartenaria);
        transform: scale(1.02); 
    }

    .btn__resultado:link,
    .btn__resultado:visited,
    .btn__resultado:hover,
    .btn__resultado:focus,
    .btn__resultado:active {
        text-decoration: none;
        color: white;
    }






}



