.titulo__sobre{
    color: whitesmoke;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    border-bottom: 2px solid var(--cor-principal);
    background: linear-gradient(90deg, #018044, #017D49, #B2D3C2);
}

.sobre__img{
    text-align: center;
}

.img__sobre{
    width:90%;
}

.conteudo__sobre{
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    display:flex;
    flex-direction: column;
    gap: 2rem;
    background-color: var(--cor-terciaria);
    border-radius: 10px;
    margin: 1rem 1rem;
    border: solid 1px var(--cor-principal);
}

.btn__sobre{
    background-color: var(--cor-secundaria);
    color: white;
    padding: 0.5rem 1.0rem;
    border: 1px solid var(--cor-principal);
    border-radius: 1rem;
    font-family: var(--fonte-principal);
    font-weight: 500;
    letter-spacing: 0.08rem;
    width: 50%;
    text-align: center;
}

.btn__sobre:focus{
   outline:none;
}

.btn__sobre-mostrar p{
    padding-top: 1rem;
    padding-right: 1rem;
    font-family: var(--fonte-principal);
}

.btn__sobre-mostrar p span{
    font-weight: bold;
}


