.titulo__sobre{
    color: whitesmoke;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
    border-bottom: 2px solid var(--cor-principal);
    background: linear-gradient(90deg, #018044, #017D49, #B2D3C2);
}

.sobre__img{
    text-align: center;
}

.img__sobre{
    width:90%;
}

